<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<mdb-navbar SideClass=" navbar navbar-expand-lg navbar-dark light-blue" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><span class="align-middle navbar-brand">Survey</span></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<body class="d-flex justify-content-center">
    <div class="container m-5">
        <form (ngSubmit)="onSubmit()" ngNativeValidate action="post">
            <div class="card mb-4 " *ngFor="let section of survey?.sections">
                <div class="card-body">
                    <ol class="breadcrumb p-0 white font-weight-bold ml-2">
                        <li class="breadcrumb-item">
                            <span>{{section.title}}</span>
                        </li>
                    </ol>
                    <hr>
                    <span class="font-weight-normal ml-2"> {{section.description}} </span>
                    <div *ngFor="let question of section?.questions; let i = index">
                        <hr>
                        <span class="font-weight-normal ml-2"> {{question.text}} ?</span>
                        <div [ngSwitch]="question.type" class="mt-3 ml-4">
                            <div *ngSwitchCase=0>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="1"
                                        class="custom-control-input" id="likert-{{question.id}}-1"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-1">Strongly Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="2"
                                        class="custom-control-input" id="likert-{{question.id}}-2"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-2">Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="3"
                                        class="custom-control-input" id="likert-{{question.id}}-3"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-3">Undecided</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="4"
                                        class="custom-control-input" id="likert-{{question.id}}-4"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-4">Agree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="5"
                                        class="custom-control-input" id="likert-{{question.id}}-5"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-5">Strongly Agree</label>
                                </div>
                            </div>
                            <div *ngSwitchCase=1>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="1"
                                        class="custom-control-input" id="likert-{{question.id}}-1"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-1">Strongly Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="2"
                                        class="custom-control-input" id="likert-{{question.id}}-2"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-2">Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="3"
                                        class="custom-control-input" id="likert-{{question.id}}-3"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-3">Undecided</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="4"
                                        class="custom-control-input" id="likert-{{question.id}}-4"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-4">Agree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="5"
                                        class="custom-control-input" id="likert-{{question.id}}-5"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-5">Strongly Agree</label>
                                </div>
                            </div>
                            <div *ngSwitchCase=2>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="1"
                                        class="custom-control-input" id="likert-{{question.id}}-1"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-1">Strongly Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="2"
                                        class="custom-control-input" id="likert-{{question.id}}-2"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-2">Disagree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="3"
                                        class="custom-control-input" id="likert-{{question.id}}-3"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-3">Undecided</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="4"
                                        class="custom-control-input" id="likert-{{question.id}}-4"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-4">Agree</label>
                                </div>
                                <div class="custom-control custom-radio mt-1">
                                    <input type="radio" required [(ngModel)]="question.answer.value" [value]="5"
                                        class="custom-control-input" id="likert-{{question.id}}-5"
                                        name="{{question.id}}" mdbInput>
                                    <label class="custom-control-label" for="likert-{{question.id}}-5">Strongly Agree</label>
                                </div>
                            </div>
                            <div *ngSwitchCase=3>
                                <div *ngFor="let choice of question?.choices; let j = index">
                                    <div class="custom-control custom-radio mt-1">
                                        <input type="radio" required [(ngModel)]="question.answer.value" [value]="j+1"
                                            class="custom-control-input" id="likert-{{i}}-{{j}}"
                                            name="{{question.id}}" mdbInput>
                                        <label class="custom-control-label" for="likert-{{i}}-{{j}}">{{choice}}</label>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase=4>
                                <div *ngFor="let choice of question?.choices; let j = index">
                                    <div class="custom-control custom-checkbox mt-1">
                                        <input name="{{question.id}}" type="checkbox" class="custom-control-input" id="checkBox-{{i}}-{{j}}" [value]="j+1" [(ngModel)]="question.answer.values[j]">
                                        <label class="custom-control-label" for="checkBox-{{i}}-{{j}}">{{choice}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-4 d-flex justify-content-end">
                <button type="submit" mdbBtn color="light-blue" mdbWavesEffect>Sumbit</button>
            </div>
        </form>
    </div>
</body>